# Setup .gitignore as a whitelist
*
!*/

build/**

# track this file
!.gitignore
!.gitattributes
!.gitmodules

!CMakeLists.txt
!/license
!readme.md

!Images/*
!.github/**
!LibHarmonyLink/**
!HarmonyLinkTest/**
!HarmonyLinkTest_CPP/**

# Blacklist specific build directories
linuxbuild/
build/
.idea/
